body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
}
h1{
    font-size: 3rem;
    margin-top: 2rem;
}
.dice{
    font-size: 7rem;
    margin: 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.roll-animation {
    animation: roll 0.5s ease-in-out;
}

@keyframes roll {
    from { transform: rotate(0deg); }
    to   { transform: rotate(-360deg); }
}

button{
    background-color: #4340ff;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 9px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #322fc3;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin : 2rem;
    max-width: 600px;
    margin: 2rem auto;
}

li{
    font-size: 1.2rem;
    margin: 8px;
    padding: 0.1rem;
    background-color: #d7c9c9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
li span{
    font-size: 3rem;

}
