body{
    background-color: #605b5b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.container{
     background-color: #ece8e8;
     max-width: 600px;
     margin: 100px auto;
      /* text-align: center; */
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;

}

h1{
    margin-top: 0;
    text-align: center;

}
input{
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    border-radius: 4px;
    width: 100%;
}
button{
    background-color: #1d921b;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 17px;
    text-transform: uppercase;
    transition:background- color .2s ease;
}
button:hover{
    background-color: #6fa76d;

}
#total{
    font-size: 24px;
    font-weight: bold;
}
